

  <!-- Bottom section -->
  <nav class="navbar fixed-bottom navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Copyright &copy; 2021 - KDP IT SOLUTION</a><a href="https://www.linkedin.com/in/kdpatel2021" target="_blank"><img src="./assets/images/linkdin.png" width="50px" ></a>
    </div>
    
   
  </nav>
  
  <!-- Bottom section -->



  <!-- Javascript section -->
  <script src="./scripts/app.js"></script>
  <script src="./jquery/dist/jquery.min.js"></script>
  <script src="./bootstrap/dist/js/bootstrap.bundle.min.js"></script>
