<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='./content/app.css' />
  <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
</head>

<body >
  <!-- Nav Bar Section -->
  <%- include('partials/header') %>
  <!-- Nav Bar Section -->

  <div class="container">
    <h1>
      <%= title %>
    </h1>
<br/>
    <div class="row">
      <div class="col-sm">
        I am Komal Patel. I am a student in the Software Engineering Technology program at Centennial College. 
        Some of my favorite things to do are:
        <li>Reading</li>
        <li>Walking</li>
        <li>Cooking</li>
        <li>Watching movies</li>
        <li>Playing outdoor games</li>
        <li>Shopping</li>
        <li>Eating healthy food</li>
        </div>
      <div class="col-sm"><img src="./assets/images/kdppic.jpg" width="180px"></div>
      <div class="col-sm"><a href="./content/resume.pdf" target="_blank"><img src="./assets/images/pdf.png" width="50px" ></a></div>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>

</html>