<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='./content/app.css' />
  <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
</head>

<body >
  <!-- Nav Bar Section -->

  <%- include('partials/header') %>
  <!-- Nav Bar Section -->

  <div class="container">
    <h1>
      <%= title %>
    </h1>
<br/>
    <div class="row">
      <div class="col-sm"><a href="https://bit.ly/3knv6ls" target="_blank"><img src="./assets/images/pro1.png" width="200px" height="125px"></a><br/><br/>Product Webpage-1</div>
      <div class="col-sm"><a href="https://bit.ly/2VSbk8k" target="_blank"><img src="./assets/images/pro2.png" width="200px" height="125px" ></a><br/><br/>Product Webpage-2</div>
      <div class="col-sm"><a href="https://bit.ly/3zmFMoY" target="_blank"><img src="./assets/images/pro3.png" width="200px" height="125px"></a><br/><br/>Website for Real Estate Agent</div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm"><a href="https://bit.ly/3CrzmGP" target="_blank"><img src="./assets/images/pro4.png" width="200px" ></a><br/><br/>JavaJam Coffee House</div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>

  <!-- Bottom section -->
  <%- include('partials/footer') %>
</body>

</html>