
  <!-- Nav Bar Section -->

  <%- include('partials/header') %>
  <!-- Nav Bar Section -->

  <div class="container">
    <h1>
      <%= title %>
    </h1>

    <p>Welcome to <%= title %> 
     <br>Please fill out form below:
    </p>

    <form action="/" method="POST">
      <!-- Creating the parameter Username as type= "text"-->
      <label>First Name:</label>
      <input type="text" placeholder="First Name" name="firstname"><br><br>
       <!-- Creating the parameter Username as type= "text"-->
       <label>Last Name: </label>
       <input type="text" placeholder="Last Name" name="lname"><br><br>
       <!-- Creating the parameter Email as type= "text"-->
     
      <label>Contact number: </label>
      <input type="text" placeholder="Contact number" name="conno"><br><br>
     
      <label>Email: </label>
      <input type="email" placeholder="Email" name="email"><br><br>
      <label>Message: </label>
      <input type="email" placeholder="Message" name="message"><br><br>
      <!-- Creating the submit button -->
      <button>Submit</button>
  </form>
  </div>

  <!-- Bottom section -->
  <%- include('partials/footer') %>
