
  <!-- Nav Bar Section -->

  <%- include('partials/header') %>
  <!-- Nav Bar Section -->

  <div class="container">
    <h1>
      <%= title %>
    </h1>
<br/>
    <p>
    </p>
    <div class="row">
      <div class="col-sm"><img src="./assets/images/software-services.jpg" width="200px" height="125px"></a><br/><br/><h4>Software Development</h4></div>
      <div class="col-sm"><img src="./assets/images/Web-Development.jpg" width="200px" height="125px"></a><br/><br/><h4>Web Development</h4></div>
      <div class="col-sm"><img src="./assets/images/mobiledevelop.jpg" width="200px" height="125px"></a><br/><br/><h4>Mobile Application Development</h4></div>
    </div>
  </div>

  <!-- Bottom section -->
  <%- include('partials/footer') %>
